project:
  type: website
  output-dir: docs

website:
  title: "B3108 speed anlaysis"
  navbar:
    left:
      - href: report.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



